body{
background-color:lightblue;
background-image: url("background.jpg");
background-attachment: fixed;
background-image: linear-gradient(red,yellow,green,pink,blue,violet );
}

h1{

color: orangered;
text-align: center;
text-decoration: underline;



}

p{
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
color: palevioletred;
}
#para1{
color:purple;


}

.para2{
color:yellowgreen;

}

.color{
color: violet;
background-color:whitesmoke;
border:1px solid yellow;

}

.opacity h2{
border:1px solid black;
opacity:0.0 ;
background-color: crimson;
}

.opacity h3{
border:1px solid black;
opacity: 0.3;
background-color: crimson;
    }
.opacity h4{
border:1px solid black;
opacity: 0.6;
background-color: crimson;
        }
.opacity h5{
border:1px solid black;
opacity: 0.8;
background-color: crimson;
            }

.opacity h6{
border: 1px solid black;
opacity: 1.0;
background-color: crimson;
}


.margin{
border:1px solid black;
margin:auto;
width:200px;
padding: 20px 30px 15px 25px;

}


.box{
border: 1px solid black;
width: 300px;
color: chartreuse;
border-radius: 10px;
padding: 15px;
margin: 50px;
box-sizing: border-box;
outline-style: solid;
outline-color: crimson;
outline-width: medium;

}

a{
text-decoration: none;
background-color: red;
color: whitesmoke;
padding: 14px 15px;
text-align: center; 



}

a:hover{
color: aqua;
background-color: cornsilk;
 




}

.max{
color: cadetblue;
border: 1px solid black;
width: 500px;
text-align: center;
margin: auto;
}


.maximum{
color: cornflowerblue;
border: 1px solid black;
max-width: 500px;
text-align: center;
margin: auto;


}

input[type=text]{
width: 100%;
padding: 12px 20px;
border: 1px solid black;
border-radius: 5px;
box-sizing: border-box;
margin: 8px 0;


}
