body{
margin: 0 auto;
padding: 0 auto;
}

.container{
text-align: center;


}



.wraper{
	width: 940px;
	border: 1px solid black;
	text-align: center;
	height: 700px;
	margin: auto;

}

.row{
display: inline-block; 
padding: 5px 0;


}

.w-940{
width:940px;
border: 1px solid red; 


}

.row2{
display: inline-block;
padding: 5px 0;


}



.w-60{
width: 60px;
border: 1px solid red;

}

.w-860{
width: 860px;
border: 1px solid red;
margin-top:-20px; 
margin-left: 80px;


}

.row3{
display: inline-block;
padding: 5px 0;
}
.w-140{
width: 140px;
border: 1px solid red;

}

.w-780{
width: 780px;
border: 1px solid red;
margin-left: 160px;
margin-top:-20px ;
}


.row4{
display: inline-block;
padding: 5px 0;

}

.w-220{
width: 220px;
border: 1px solid red;

}

.w-700{
width: 700px;
border: 1px solid red;
margin-left: 240px;
margin-top: -20px;	
}

.row5{
display: inline-block;
padding: 5px 0;

}

.w-300{
width: 300px;
border:1px solid red;	
}
.w-620{
width: 620px;
border: 1px solid red;
margin-left: 320px;	
margin-top: -20px;
}


.row6{
display: inline-block;
padding: 5px 0;
}

.w-380{
width: 380px;
border:1px solid red;

}
.w-540{
width: 540px;
border: 1px solid red;
margin-left: 400px;
margin-top: -20px;	
}

.row7{
display: inline-block;
padding: 5px 0;
}

.w-460{
width: 460px;
border: 1px solid red;	
}

.w-second{
width: 460px;
border: 1px solid red;
margin-left: 480px;
margin-top: -20px;	
}

.row8{
	display: inline-block;
	padding: 5px 0;

}

.wi-220{
width: 220px;
border: 1px solid red;	
}
.wi-special {
width: 220px;
border: 1px solid red;
margin-left: 240px;
margin-top: -20px;

}

.wi-60{
width: 60px;
border: 1px solid red;
margin-left: 480px;
margin-top: -20px;

}

.wi-380{
width: 380px;
border: 1px solid red;
margin-left: 558px;
margin-top: -20px;

}

.row9{
display: inline-block;
padding: 5px 0;
}

.wii-60{
width: 60px;
border: 1px solid red;	
}


.wii-380{
width: 380px;
border: 1px solid red;
margin-left: 80px;
margin-top: -20px;	
}

.wii-220{
width: 220px;
border: 1px solid red;
margin-left:480px ;
margin-top: -20px;
}

.wiii-220{
width: 220px;
border: 1px solid red;
margin-left: 720px;
margin-top: -20px;	
}